*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: black;
    opacity: 0.8;
    position: sticky;
    top: 0px;
}
.logo{
    display: inline-block;
    margin-top: 5px;
    margin-left: 55px;
}
.mid {
    position: absolute;
    display: inline-block;
    width: 50%;
    margin: 24px 40px;
    
  }

.navbar{
    display: inline-block;
}

.navbar li{
    display: inline-block;
    font-size: 13px;
}
.navbar li a{
    color: #E0E0E0;
    text-decoration: none;
    padding: 14px 7px;
    font-family: 'Arima', cursive;
    font-family: 'Roboto', sans-serif;
    
    
}
.navbar li a:hover {
    text-decoration: none;
    color: #81D4FA;
}
.icons {
    position: absolute;
    right: 33px;
    top: 7px;
    display: inline-block;
}
.icons ul{
    display: inline-flex;
    list-style: none;
}
.icons ul li{
    padding: 14px 10px;
}
.icons li a img:hover{
    transform: translateY(2px);
}

/* navigation bar css ends here  */

/* Homepage background image */

#imgarea{
    display: flex;
    width: 100%;
    height: 100vh;
    background-size: cover;
}


.indicator_btn{
    position: absolute;
    display: flex;
    bottom: 50px;
    right: 35px;
}

.roundbtn button , .roundbtn2 button{
    border: none;
    border-radius:50%;
    margin: 4px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    opacity: 0.5;
    
}

.roundbtn button:hover , .roundbtn2 button:hover{
    background-color: whitesmoke;
    opacity: 1;
}

/* Homepage background image ends here  */



/* footer starts here  */

.main-footer{
    display: flex;
    margin: auto;
}
.mail-box{
    box-sizing: inherit;
    margin: 30px 55px;
    padding: 20px 30px;
    width: 35%;
    background-color: #E0E0E0;
    box-shadow: 3px 3px 1px #dadbdd;
    border-radius: 30px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    /* Created with https://www.css-gradient.com */
    background: #C9C9C0;
    background: -webkit-linear-gradient(bottom right, #C9C9C0, #F2F1F7);
    background: -moz-linear-gradient(bottom right, #C9C9C0, #F2F1F7);
    background: linear-gradient(to top left, #C9C9C0, #F2F1F7);
}
.mail-text{
    font-weight: 800;
}
#mt-2{
    color: #616161;
}
#deal-text{
    background: linear-gradient(to bottom right, #0C8088, #53B5C9);
    /* background: linear-gradient(to bottom right, #047C8A, #8BBDC5);  */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#footer-mail{
    outline: none;
    margin-top: 55px;
    padding: 5px;
    padding-right: 10px;
    background: #e0e0e0;
    border: none;
}

#footer-submit{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    padding: 15px 120px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: #616161;
    box-shadow: -2px -4px 6px #ffff;
    background: #e0e0e0;
}

#footer-submit:hover{
    color: white;
    /* Created with https://www.css-gradient.com */
    background: #7ABFE2;
    background: -webkit-linear-gradient(left, #7ABFE2, #105D7F);
    background: -moz-linear-gradient(left, #7ABFE2, #105D7F);
    background: linear-gradient(to right, #7ABFE2, #105D7F);
}

 .footer-mid{
    height: fit-content;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
} 
.fm-heading{
    background: linear-gradient(to bottom right, #0C8088, #53B5C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
}
.fm-ul{
    list-style: none;
    color: #616161;
}

.footer-mid ul li{
    margin-bottom: 5px;
    font-size: 14px;
    cursor: pointer;
}


.mb-1, .mb-2{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
    /* margin-top: 50px; */
}


.mid1,.mid2,.mid3, .mid4, .mid5, .mid6{
    box-sizing: border-box;
    width: 33%;
    height: fit-content;
    margin-top: 15px;
}
#social-media{
    display: flex;
    list-style: none;
    justify-content: center;
}
#social-image{
    size: 45px;
    margin: 10px 7px;
}
#cr-text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #616161;
    margin-bottom: 35px;
    font-weight: 500;
}
.developer-info{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #616161;
    font-size: 12px;
    font-weight: 500;
}

.second-banner img{
    display: flex;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
#togglebtn{
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 62px 112px;
    font-size: 16px;

    /* display: none; */
}
#para01{
    line-height: 28px;
}

#btn31{
    background-color: white;
    display: flex;
    margin:35px  auto;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    box-shadow: 2px 2px 6px;
    cursor: pointer;
}
.best{
    background-color: #EEEEEE;
    width: 100%;
    height: 15vh;
}
.best01{
    float: left;
    width: 50%;
    margin: 10px 0px;
    /* height: 20vh; */
    /* margin-top: 60px; */
}
.best02{
    float: right;
    width: 50%;
    margin: 10px 0px;
    /* height: 20vh; */
    /* margin-top: 60px; */
    font-family: 'Roboto', sans-serif;
}
#Best{
    float: right;
    background: linear-gradient(to bottom right, #0C8088, #53B5C9);
    /* background: linear-gradient(to bottom right, #047C8A, #8BBDC5);  */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 54px;
    shadow: 3px 3px 1px #dadbdd;
}
#best-text{
    font-weight: 700;
    margin: 15px 5px;
   
}
.sidemenu{
    display: none;
   
}

#hamburger-icon{
    display: none;
   
}

/* media query in notepad */

@media (min-width:300px) and (max-width:1200px){
    .mid {
        position: absolute;
        display: none;
        width: 50%;
        margin: 25px 135px;
        
      }

      .navbar li{
        display: inline-block;
        font-size: 15px;
    }
    .logo{
        display: inline-flex;
        margin-left: 6px;  /* form 25px */
        width: 25%;
    }
    .main-footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer-mid{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 80%;
        margin: 25px 38px;
    }
    .mail-box{
        margin: 20px 16px;
        padding: 24px 22px;
        /* margin: 30px 55px;
        padding: 20px 30px; */
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #togglebtn{
        margin: 30px 20px;
    }
    .second-banner img{
        height: 30vh;
    }
    #imgarea{
        height: 50vh;
    }
    .indicator_btn{
        bottom: 365px;
        right: 30px;
    }
    .best{
        background-color: #EEEEEE;
        width: 100%;
        height: 10vh;
    }
    .sidemenu{
        height: 15vh;
        width: 100%;
        z-index: 1;
        /* Created with https://www.css-gradient.com */
        background: #0D8B85;
        background: -webkit-linear-gradient(top, #0D8B85, #5CA8E4);
        background: -moz-linear-gradient(top, #0D8B85, #5CA8E4);
        background: linear-gradient(to bottom, #0D8B85, #5CA8E4);
    }
    #s1, #s3,#s5 {
        padding: 5px 20px;
        width: 38%;
        float: left;
    }
    #s2,#s4,#s6 {
        margin: 4px 0px;
        margin-bottom: 8px;
        width: 45%;
        float: right;
    }
    .sidemenu a{
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: white;
        /* padding: 2px 4px; */
    }
    #hamburger-icon{
        display: block;
    }
    #search-icon{
        display: none;
    }
    #soldtext{
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: white;
        background-color:  #424242 ;
    }
    #soldimage01{
        width: 30%;
        height: 20vh;
    }
    
    
   
   
}


/* search button new css below */

*{
    margin: 0;
    padding: 0;
}
.body2{
    z-index: 7;
}
.main img{
    position: absolute;
    margin-top: 12px;
    height: 25px;
    margin-left: 50px;
    width: 250px;
}

.main span img{
    height: 20px;
    width: 20px;
    margin-top: 0px;
    margin-left: 0px;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
}

.main span input{
    margin-top: 0px;
    margin-left: 40px;
    height: 30px;
    width: 450px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: rgb(240, 236, 236);
    font-family: Verdana;
     }

 .main span{
    width: 450px;
    height: 30px;
    background-color: rgb(240, 236, 236);
    margin-left: 490px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 35px;
    border-radius: 25px;
}
.main span div img{
    margin-left: 50px;
    margin-top: -15px;
    height: 20px;
    width: 20px;
    background-color: rgb(240, 236, 236);
    padding: -5px;
    cursor: pointer;
}

.list ul{
    margin-top: 35px;
    list-style: none;
    font-size: 20px;
    background-color: rgb(240, 236, 236);
    padding-left: 500px;
    padding-top: 15px;

}
.list ul #op{
    opacity: 50%;
}
.body2{
    display: none;
}

.outofstock{
    display: none;
    background-color: #424242;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.outofstock p{
    text-align: center;
}
#soldtext{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    background-color:  #424242 ;
}
#soldimage01{
    width: 100%;
    height: 80vh;
}










